{% extends 'layout.html'%}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/GestionProductos.css')}}">
<div class="container">
    <h2 class="text-center">Gestión de Inventario</h2>

    <!-- Botón para agregar nuevo producto -->
    <div class="d-flex justify-content-end mb-3">
        <button id="btnFormAddProd" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#productoModal">Agregar Producto</button>
    </div>

    <div class="scroll-panel border border-2 p-2">
        <!-- Tabla para listar productos -->
        <table id="tableProducts" class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Sku</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí irían las filas de los productos (se podría rellenar con una consulta) -->
                {% for p in productos %}
                <tr>
                    <td>{{p.0}}</td>
                    <td>{{p.1}}</td>
                    <td>{{p.2}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm me-2 btnEditProduct">Editar</button>
                        <button name="btn-deleteProduct" onclick="deleteProduct({{p.0}})"
                            class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
                <!-- Añadir más productos aquí -->
            </tbody>
        </table>
    </div>
</div>

<script src="{{url_for('static', filename='js/GestionProducto.js')}}"></script>
{% endblock %}