{% extends 'layout.html'%}
{% block body %}

<div class="container">
    <h1 class="text-center mb-4">Reporte de Ventas</h1>

    <!-- Filtros -->
    <div class="row mb-4">
        <div class="col-md-4">
            <label for="filterClient" class="form-label">Filtrar por Cliente</label>
            <input type="text" id="filterClient" class="form-control" placeholder="Nombre del cliente...">
        </div>
        <div class="col-md-4">
            <label for="filterDateStart" class="form-label">Fecha de Inicio</label>
            <input type="date" id="filterDateStart" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="filterDateEnd" class="form-label">Fecha de Fin</label>
            <input type="date" id="filterDateEnd" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="filterProduct" class="form-label">Filtrar por Producto</label>
            <input type="text" id="filterProduct" class="form-control" placeholder="Nombre del producto...">
        </div>
    </div>

    <!-- Tabla de reporte de ventas -->
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="salesReportTable">
            <thead>
                <tr>
                    <th>Num. Venta</th>
                    <th>Cliente</th>
                    <th>Total Venta</th>
                    <th>Observacion</th>
                    <th>Fecha de Venta</th>
                </tr>
            </thead>
            <tbody>
                {% if ventas %}
                {% for venta in ventas %}
                <tr data-id="{{ venta['ventaid'] }}"> <!-- Mantén el data-id en la fila -->
                    <td>{{venta.ventaid}}</td>
                    <td>{{venta.nombres}} {{venta.apellidos}}</td>
                    <td>{{venta.montoventa}}</td>
                    <td>{{venta.observacion}}</td>
                    <td>{{venta.fechaventa}}</td>
                    
                </tr>

                {% endfor %}
                {% else %}
                <tr id="noClientsRow">
                    <td colspan="6" class="text-center">No hay ventas registrados</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Botón para imprimir las ventas filtradas -->
    <button class="btn btn-primary mt-3" id="btnImprimir">Imprimir Productos y Cantidades</button>
</div>

<!-- Enlaces a las bibliotecas necesarias -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<!-- Enlace al archivo JavaScript externo -->
<script src="{{url_for('static', filename='js/ReporteVenta.js')}}"></script>
{% endblock %}