{% extends 'layout.html'%}
{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Reportes</h1>

        <div class="row mb-4">
            <div class="col-6 col-md-4 mb-4">
                <button class="btn btn-primary btn-block report-button w-100">
                    <a href="ReporteVenta.html" class="btn btn-primary">Ir a Reporte 2</a></button>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <button class="btn btn-secondary btn-block report-button w-100">Reporte 2</button>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <button class="btn btn-success btn-block report-button w-100">Reporte 3</button>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <button class="btn btn-warning btn-block report-button w-100">Reporte 4</button>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <button class="btn btn-danger btn-block report-button w-100">Reporte 5</button>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <button class="btn btn-info btn-block report-button w-100">Reporte 6</button>
            </div>
        </div>
    </div>
{% endblock %}
