{% extends 'layout.html'%}
{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Reportes</h1>

        <div class="row mb-4">
            <div class="col-6 col-md-4 mb-4">
                
                    <a href="/GestionReportes/Ventas" class="btn btn-primary btn-block report-button w-100">
                        <i class='bx bx-bar-chart-alt-2'></i> Ir a Reporte 1</a>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <a href="/GestionReportes/Carga" class="btn btn-secondary btn-block report-button w-100">
                <i class='bx bx-bar-chart-alt-2'></i> Reporte Carga</a>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <a href="/GestionReportes/Carga" class="btn btn-success btn-block report-button w-100">
                <i class='bx bx-bar-chart-alt-2'></i> Ir a Reporte 2</a>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <a href="/GestionReportes/Carga" class="btn btn-warning btn-block report-button w-100">
                <i class='bx bx-bar-chart-alt-2'></i> Ir a Reporte 3</a>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <a href="/GestionReportes/Carga" class="btn btn-danger btn-block report-button w-100">
                <i class='bx bx-bar-chart-alt-2'></i> Ir a Reporte 4</a>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <a href="/GestionReportes/Carga" class="btn btn-info btn-block report-button w-100">
                <i class='bx bx-bar-chart-alt-2'></i> Ir a Reporte 5</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
