{% extends 'layout.html'%}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>


<body>
    <div class="container my-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="mb-0">Top 8 Productos Más Vendidos</h2>
            </div>
            <div class="card-body">
                <!-- Formulario de selección de mes y año -->
                <form id="filterForm" class="row g-3 justify-content-center mb-4">
                    <div class="col-12 col-md-5 col-lg-3">
                        <label for="month" class="form-label">Mes:</label>
                        <select id="month" class="form-select" required>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-5 col-lg-3">
                        <label for="year" class="form-label">Año:</label>
                        <select id="year" class="form-select" required></select>
                    </div>

                    <div class="col-12 col-md-2 col-lg-2 align-self-end">
                        <button type="submit" class="btn btn-primary w-100">Generar Reporte</button>
                    </div>
                </form>

                <!-- Contenedor para la gráfica -->
                <div class="card">
                    <div class="card-body">
                        <canvas id="salesChart" style="max-width: 100%; height: auto;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Enlace al archivo JavaScript -->
    <script src="{{ url_for('static', filename='js/ReporteProducto.js') }}"></script>
</body>
{% endblock %}
